<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
                {{> cart}}
            </div>
        </div>
    </div>
    <div class="footer">
        <!--  -->
    </div>
</body>
</html>


